---
---

/* http://fontawesome.io/get-started/
   See _config.yml from whence the Ruby GEM is declared.

@import "font-awesome";
*/

// import bootstrap
//@import "bootstrap";

// DEBUG: pages list at top of index.html
section.pages.debug {
  background-color: white;
  font-size: .75em;
}
section.pages.debug ul {
  margin: 0;
  padding: .5em;
}

/* UTILITY */
.center { margin: 0 auto; text-align: center; }
.fs-small   { font-size: .75em; }
.fs-smaller { font-size: .66em; }
.fs-x-small { font-size: .33em; }
.pre { white-space: pre; }
.pre-wrap { white-space: pre-wrap; }

/* FABIC « phi » tables. */
table.phi td.separator {
  padding: 0;
  height: .25em;
  background-color: #999;
}

