---
layout: page
published: true
title: Compositing Work
gallery_compare: true
permalink: /work/compositing/
---

<div class="row" style="margin-top: 2em;">
    <div class="container">
      <div class="single-item">
        {% for file in site.data.compositing_work.compare_files %}
            <div class="twentytwenty-container">
                <img src="/static/compositing_work/slider-sized/{{ file }}_int_precomp_lgt_l.jpg"/>
                <img src="/static/compositing_work/slider-sized/{{ file }}_int_final_l.jpg"/>
            </div>
        {% endfor %}
      </div>
      <p></p>
      <div class="items-nav lazy">
        {% for file in site.data.compositing_work.compare_files %}
            <div>
                <img data-lazy="/static/compositing_work/thumbnails-nav/{{ file }}_int_final_l.jpg"/>
            </div>
        {% endfor %}
      </div>
    </div>
</div>

