---
layout: page
published: true
title: Compositing Work
gallery_compare: true
fade_to_black: true
permalink: /work/compositing/
---

{% comment %}
  See _layouts/default.html for the JS code.
  {F} FIXME: Added style for min. width/height so that the
             twentytwenty-container div do not appear "empty" with 1-pixel height
             when some image fail to have loaded.
             For bug:
              https://github.com/maty974/maty974.github.io/issues/3
             as per:
              https://github.com/zurb/twentytwenty/issues/31
  {F} Quickfix centering with Twenty2 above Slick with 8px padding-left.
{% endcomment %}

<div class="row" style="margin-top: 2em;">
    <div class="container twenty-slick">
      <div class="single-item centered" style="padding-left: 8px;">
        {% for file in site.data.compositing_work.compare_files %}
          <div class="twentytwenty-container" style="min-width: 800; min-height: 450;">
                <img class="zero-margins" src="/static/compositing_work/slider-sized/{{ file }}_int_precomp_lgt_l.jpg"/>
                <img class="zero-margins" src="/static/compositing_work/slider-sized/{{ file }}_int_final_l.jpg"/>
            </div>
        {% endfor %}
      </div>
      <div class="items-nav lazy centered" style="margin-top: 1.5em;">
        {% for file in site.data.compositing_work.compare_files %}
            <div>
                <img data-lazy="/static/compositing_work/thumbnails-nav/{{ file }}_int_final_l.jpg"/>
            </div>
        {% endfor %}
      </div>
    </div> <!--/ .container -->
</div> <!--/ .row -->

