<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-logo" style="align:center">
      <img class="rounded-logo" src="/static/matthieu-cadet-portrait.png"/>
  </div>
  <div class="sidebar-item">
    <strong class="author">{{ site.author.name }}</strong>
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" or node.layout == "curriculum" %}
          {% if node.published != false %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}"
               href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>

  <div class="sidebar-item">
    <ul class="sidebar-social-links">
      {% if site.author.email %}
      <li>
        <a href="mailto: {{ site.author.email }}">
          <span class="fa fa-envelope"></span>
        </a>
       </li>
      {% endif %}

      {% if site.author.linkedin_username %}
      <li>
        <a href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}/"
           title="LinkedIn profile of {{ site.author.linkedin_username }}"
           class="fa fa-linkedin-square"><!--{{ site.author.linkedin_username }}--></a>
      </li>
      {% endif %}

      {% if site.author.github_username %}
      <li>
        <a href="https://github.com/{{ site.author.github_username }}/"
           title="Github page of {{ site.author.github_username }}"
           class="fa fa-github"><!--{{ site.author.github_username }}--></a>
      </li>
      {% endif %}

     {% if site.author.facebook_username %}
      <li>
        <a href="https://www.facebook.com/{{ site.author.facebook_username }}/"
           title="Facebook profile of {{ site.author.facebook_username }}"
           class="fa fa-facebook-square"><!--{{ site.author.facebook_username }}--></a>
      </li>
      {% endif %}

      {% if site.author.flickr_username %}
      <li>
        <a href="https://www.flickr.com/photos/{{ site.author.flickr_username }}/"
           title="Flickr photostream of {{ site.author.flickr_username }}"
           class="fa fa-flickr"><!--{{ site.author.flickr_username }}--></a>
      </li>
      {% endif %}

      {% if site.author.instagram_username %}
      <li>
        <a href="https://www.instagram.com/{{ site.author.instagram_username }}/"
           title="Instagram photostream of {{ site.author.instagram_username }}"
           class="fa fa-instagram"><!--{{ site.author.instagram_username }}--></a>
      </li>
      {% endif %}
      
      {% if site.author.tel %}
      <li>
        <a href="tel:{{ site.author.tel }}" rel="nofollow"
           title="Call me!"
           class="fa fa-phone-square"><!--{{ site.author.tel }}--></a>
      </li>
      {% endif %}
    </ul>
  </div>

  <div class="sidebar-item sidebar-last-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}
    </p>
    <p>
    <p style="font-size: .6rem;">Warm thanks to Jekyll theme <a href="http://lanyon.getpoole.com/">&copy;&nbsp;Laynon Poole</a>
    </p>
  </div>
</div>
